
**/*~
**/*.o
**/*.a
**/*.so
**/*.so.*
**/*.swp
**/*.swo
**/.#*
**/*.tmp
**/a.out
**/.DS_Store
**/.dylib
**/*.dSYM/
**/desktop.ini
**/thumbs.db

**/*.lst
**/*.LST
**/*.OBJ
**/*.TR

# Testing material
assembler-windows/test.asm
assembler-windows/test.exe
assembler-windows/TEST.EXE

# Notepad++ related
assembler-windows/npp/session.xml
assembler-windows/npp/stdout.txt
assembler-windows/npp/stderr.txt

