
**/*~
**/*.o
**/*.a
**/*.so
**/*.so.*
**/*.swp
**/*.swo
**/.#*
**/*.tmp
**/a.out
**/.DS_Store
**/.dylib
**/*.dSYM/
**/desktop.ini
**/thumbs.db

**/*.[lL][sS][tT]
**/*.[oO][bB][jJ]
**/*.[cC][rR][fF]
**/*.[tT][rR]

# Proprietary blobs
**/masm4/
**/td/

# Testing material
assembler-*/test.asm
assembler-*/*.[eE][xX][eE]

# Notepad++ related
assembler-windows/npp/session.xml
assembler-windows/npp/stdout.txt
assembler-windows/npp/stderr.txt

