
**/*~
**/*.o
**/*.a
**/*.so
**/*.so.*
**/*.swp
**/*.swo
**/.#*
**/*.tmp
**/a.out
**/.DS_Store
**/.dylib
**/*.dSYM/
**/desktop.ini
**/thumbs.db

**/*.lst
**/*.LST
**/*.OBJ
**/*.CRF
**/*.TR

# Proprietary blobs
**/masm4/
**/td/

# Testing material
assembler-*/{test,schem}.asm
assembler-*/{test,schem}.exe
assembler-*/TEST.EXE

# Notepad++ related
assembler-windows/npp/session.xml
assembler-windows/npp/stdout.txt
assembler-windows/npp/stderr.txt

