
**/*~
**/*.o
**/*.a
**/*.so
**/*.so.*
**/*.swp
**/*.swo
**/.#*
**/*.tmp
**/a.out
**/.DS_Store
**/.dylib
**/*.dSYM/
**/desktop.ini
**/thumbs.db

**/*.lst
**/*.LST
**/*.OBJ
# Testing material
test.asm
test.exe
TEST.EXE

# Notepad++ related
npp/session.xml


